.clock {
    width: 300px;
    height: 300px;
}

.logo img {
    height: 60px;
    top: 41%;
}

.numbers div {
    font-size: 28px;
}

.arrow div {
    height: 100px;
}

.arrow .hour {
    height: 75px;
}

.arrow .second{
    height: 107px; 
}